<section class="calculator">
	<div class="container">
		<div class="section-header">
			<div class="left">
				<a href="#" class="logo">
					<img src="img/logo.png" height="207" width="649" alt="">
				</a>
				<p>Правильное питание <br>с доставкой</p>
			</div>	<!-- left -->
			<div class="right">
				<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
				<div class="operating-mode">
					Режим работы: 9:00 - 21:00
					<span>без выходных</span>
				</div>	<!-- operating-mode -->
			</div>	<!-- right -->
		</div>	<!-- header -->
		<h1>Калькулятор расчета дневной нормы калорий</h1>
		<div class="content">
			<div class="top">
				<div class="for_man">
					<span>для мужчин</span>
					<p>( ( 9,99 х Вес ) + ( 6,25 х Рост ) - ( 4,92 х Возраст ) + 5 ) х Коэффициент активности = Мужская суточная норма калорий.</p>
				</div>
				<div class="for_woman">
					<span>для женщин</span>
					<p>( ( 9,99 х Вес ) + ( 6,25 х Рост ) - ( 4,92 х Возраст ) - 161 ) х Коэффициент активности = Женская суточная норма калорий.</p>
				</div>
			</div>	<!-- top -->
			<div class="form-block">
				<form action="thank_you.html">
					<div class="row sex active">
						<div class="left-form">
							<span class="number">1</span>
							<h4>Укажите пол</h4>
						</div>	<!-- left-form -->
						<div class="right-form">
							<div class="form-row">
								<div class="col">
									<input type="radio" checked id="men" name="sex">
									<label for="men">мужской</label>
								</div>
								<div class="col">
									<input type="radio" id="women" name="sex">
									<label for="women">женский</label>
								</div>
							</div>	<!-- form-row -->
						</div>	<!-- right-form -->
					</div>	<!-- sex -->
					<div class="target row active">
						<div class="left-form">
							<span class="number">2</span>
							<h4>Цель</h4>
						</div>	<!-- left-form -->
						<div class="right-form">
							<div class="form-row">
								<div class="col">
									<input type="radio" checked id="target1" name="target">
									<label for="target1">Похудение</label>
								</div>
								<div class="col">
									<input type="radio" id="target2" name="target">
									<label for="target2">Набор массы</label>
								</div>
								<div class="col">
									<input type="radio" id="target3" name="target">
									<label for="target3">Поддержание формы</label>
								</div>
							</div>	<!-- form-row -->
							<div class="select">
								<select class="selectric">
									<option value="">Похудение</option>
									<option value="">Набор массы</option>
									<option value="">Поддержание формы</option>
								</select>
							</div>
							<div class="input">
								<label for="weight">Снизить вес на</label>
								<div class="input-wrap">
									<input type="text" id="weight">
								</div>
							</div>	<!-- input -->
						</div>	<!-- right-form -->
					</div>	<!-- target -->
					<div class="options row">
						<div class="left-form">
							<span class="number">3</span>
							<h4>Ваши параметры</h4>
						</div>	<!-- left-form -->
						<div class="right-form">
							<div class="input">
								<label for="age">Возраст</label>
								<div class="input-wrap">
									<input type="text" id="age">
								</div>
							</div>	<!-- input -->
							<div class="input">
								<label for="weight1" id="label-weight1">Вес</label>
								<div class="input-wrap">
									<input type="text" id="weight1">
								</div>
							</div>	<!-- input -->
							<div class="input">
								<label for="height" id="label-height1">Рост</label>
								<div class="input-wrap">
									<input type="text" id="height">
								</div>
							</div>	<!-- input -->
						</div>	<!-- right-form -->
					</div>	<!-- options -->
					<div class="active-block row">
						<div class="left-form">
							<span class="number">4</span>
							<h4>Уровень активности</h4>
						</div>	<!-- left-form -->
						<div class="right-form">
							<div class="form-row">
								<div class="col">
									<input type="radio" id="active1" name="active">
									<label for="active1">Сидячий образ жизни</label>
								</div>
								<div class="col">
									<input type="radio" id="active2" name="active">
									<label for="active2">
										Средняя активность
										<span>(легкие упражнения 1-3 раза в неделю)</span>
									</label>
								</div>
								<div class="col">
									<input type="radio" checked id="active3" name="active">
									<label for="active3">
										Повышенная активность
										<span>(активные тренировки 3-5 раз в неделю)</span>
									</label>
								</div>
								<div class="col">
									<input type="radio" id="active4" name="active">
									<label for="active4">
										Очень высокая активность
										<span>(тяжелые физические нагрузки 6-7 раз в неделю)</span>
									</label>
								</div>
								<div class="col">
									<input type="radio" id="active5" name="active">
									<label for="active5">
										Экстримальная активность
										<span>(занятия интенсивным тренингом 2 раза в день)</span>
									</label>
								</div>
							</div>
						</div>	<!-- right-form -->
					</div>	<!-- active -->
					<div class="bottom-form-block">
						<div class="left">
							<div class="left-child">
								<p>Ваша дневная норма калорий:</p>
								<span>2497 <small>ккал/в день</small></span>
							</div>
							<div class="left-child">
								<p>Ваша норма калорий для цели:</p>
								<span>1880</span>
							</div>
							<div class="left-child">
								<p>Вам подходит программа:</p>
								<span>Спорт</span>
							</div>
						</div>	<!-- left -->
						<div class="right">
							<label for="phone1234">Ваш телефон:</label>
							<div class="form-phone">
								<div class="row-input">
									<input required type="text" placeholder="+7" name="phone" id="phone1234">
								</div>
								<button>заказать</button>
							</div>
							<p>Нажимая на кнопку, вы даете согласие на обработку своих <br> персональных данных</p>
						</div>	<!-- right -->
					</div>	<!-- bottom-form-block -->
				</form>
			</div>	<!-- form-block -->
		</div>	<!-- content -->
	</div>
</section>	<!-- calculator -->