<section class="thank_you" style="min-height: calc(100vh - 225px); padding: 0;">
	<div class="container">
		<div class="section-header">
			<div class="left">
				<a href="#" class="logo">
					<img src="img/logo.png" height="207" width="649" alt="">
				</a>
				<p>Правильное питание <br>с доставкой</p>
			</div>	<!-- left -->
			<div class="right">
				<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
				<div class="operating-mode">
					Режим работы: 9:00 - 21:00
					<span>без выходных</span>
				</div>	<!-- operating-mode -->
			</div>	<!-- right -->
		</div>	<!-- header -->
		<div class="content">
			<h2 style="margin-bottom: 0;">Данный раздел в разработке до 11.11.17</h2>	
		</div>
	</div>
</section>