<footer>
	<div class="container">
		<div class="top">
			<div class="left">
				<a href="#" class="logo">
					<img src="img/logo.png" height="207" width="649" alt="">
				</a>
				<p>Правильное питание <br>с доставкой</p>
			</div>	<!-- left -->
			<a href="mailto:info@mefood.me" class="email">info@mefood.me</a>
			<ul class="menu">				
				<li><a href="#">Политика обработки <br>персональных данных</a></li>
				<li><a href="#">Публичная оферта</a></li>
				<li><a href="#">Договор поставки</a></li>
			</ul>
			<ul class="social">
				<li class="vk"><a href="#"></a></li>
				<li class="insta"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
			</ul>
		</div>	<!-- top -->
		<div class="bottom">
			<div class="wrap">
				<ul class="e-money">
					<li class="visa"><a href="#"></a></li>
					<li class="master"><a href="#"></a></li>
					<li class="maestro"><a href="#"></a></li>
					<li class="mir"><a href="#"></a></li>
				</ul>
				<a href="mailto:info@mefood.me" class="email">info@mefood.me</a>
				<ul class="menu">
					<li><a href="#">Политика обработки <br>персональных данных</a></li>
					<li><a href="#">Публичная оферта</a></li>
					<li><a href="#">Договор поставки</a></li>
				</ul>
			</div>	<!-- wrap -->
			<div class="info">
				<span>ООО"мифуд", ОГРН: <a href="tel:+7584857399300085">7584857399300085</a></span>
				<p>Использование любой информации, находящейся на сайте, может осуществляться только <br>с согласия обладателя исключительных прав на него после заключения лицензионного договора в письменной форме.</p>
			</div>	<!-- info -->
		</div>	<!-- bottom -->
	</div>
</footer>

<div class="modal call-back">
	<h3>Заполните форму и мы перезвоним вам <span>за 27 секунд!</span></h3>
	<a href="javascript:void(0)" class="close"><img src="img/close.png" height="23" width="23" alt=""></a>
	<div class="form">
		<form action="thank_you.html">
			<div class="row">
				<label for="your-name">Ваше имя</label>
				<input required name="name" type="text" id="your-name">
			</div>
			<div class="row">
				<label for="your-phone">Ваш телефон</label>
				<input required type="text" name="phone" id="your-phone" placeholder="+7">
			</div>
			<button>жду звонка</button>
		</form>		
	</div>
	<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
</div>
<div class="modal programm light">
	<h3>Заказать программу <br> питания <span>Лайт</span></h3>
	<a href="javascript:void(0)" class="close"><img src="img/close.png" height="23" width="23" alt=""></a>
	<div class="form">
		<form action="thank_you.html">
			<div class="row">
				<label for="your-name2">Введите имя</label>
				<input required  name="name" type="text" id="your-name2">
			</div>
			<div class="row">
				<label for="your-phone2">Введите телефон</label>
				<input required  type="text" name="phone" id="your-phone2" placeholder="+7">
			</div>
			<div class="row">
				<label for="your-code">Введите промо-код</label>
				<input type="text" id="your-code">
			</div>
			<button>Заказать</button>
		</form>		
	</div>
	<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
</div>
<div class="modal programm sport">
	<h3>Заказать программу <br> питания <span>Спорт</span></h3>
	<a href="javascript:void(0)" class="close"><img src="img/close.png" height="23" width="23" alt=""></a>
	<div class="form">
		<form action="thank_you.html">
			<div class="row">
				<label for="your-name3">Введите имя</label>
				<input  required  name="name" type="text" id="your-name3">
			</div>
			<div class="row">
				<label for="your-phone3">Введите телефон</label>
				<input required  type="text" name="phone" id="your-phone3" placeholder="+7">
			</div>
			<div class="row">
				<label for="your-code2">Введите промо-код</label>
				<input type="text" id="your-code2">
			</div>
			<button>Заказать</button>
		</form>		
	</div>
	<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
</div>
<div class="modal programm indiv">
	<h3>Заказать программу <br> питания <span>Индивидуальный</span></h3>
	<a href="javascript:void(0)" class="close"><img src="img/close.png" height="23" width="23" alt=""></a>
	<div class="form">
		<form action="thank_you.html">
			<div class="row">
				<label for="your-name4">Введите имя</label>
				<input  required name="name" type="text" id="your-name4">
			</div>
			<div class="row">
				<label for="your-phone4">Введите телефон</label>
				<input required type="text" name="phone" id="your-phone4" placeholder="+7">				
			</div>
			<div class="row">
				<label for="your-code3">Введите промо-код</label>
				<input type="text" id="your-code3">
			</div>
			<button>Заказать</button>
		</form>		
	</div>
	<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
</div>
<!-- Google Tag Manager --> 
<noscript><iframe src="//www.googletagmanager.com/..." 
height="0" width="0" style="display:none;visibility:hidden"> </iframe></noscript> 
<script>(function(w,d,s,l,i,cid){w[l]=w[l]|| [];w.pclick_client_id=cid;w[l].push({'gtm.sta rt': 
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?' &l='+l:''; j.async=true; j.src= 
'//www.googletagmanager.com/...'
})(window,document,'script','dataLa yer','GTM-P23G9N', '66130');
</script> 



