<header>
	<div class="container">
		<div class="city">
			<span>Ваш город:</span>
			<a href="tel:+74996382246" class="phone-call"></a>
			<div class="select">
				<select class="selectric">
					<option selected value="">Москва</option>
					<option value="">Санкт-Петербург</option>
					<option value="">Сочи</option>
					<option value="">Казань</option>
					<option value="">Краснодар</option>
				</select>
			</div>	<!-- select -->
		</div>	<!-- city -->
		<div class="right-block" id="dropdown">
			<a href="#" class="trainers"><img src="img/user-avatar-main-picture.svg" alt="">Для тренеров</a>
			<a href="#" class="pay"><img src="img/shopping-bag.svg" alt="">Оплатить заказ</a>
			<div class="info-block">
				<a href="mailto:info@mefood.me" class="email">info@mefood.me</a>
				<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
				<p>Режим работы: 9:00 - 21:00 <span>без выходных</span></p>
			</div>	<!-- info-block -->
			<ul class="social">
				<li class="vk"><a href="#"></a></li>
				<li class="insta"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
			</ul>
		</div>	<!-- right-block -->
		<button class="btn-toggle"></button>
	</div>
</header>