<section class="main">
	<div class="main-header">
		<div class="container">
			<div class="section-header">
				<div class="left">
					<a href="#" class="logo">
						<img src="img/logo.png" height="207" width="649" alt="">
					</a>
					<p>Правильное питание <br>с доставкой</p>
				</div>	<!-- left -->
				<div class="right">
					<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
					<div class="operating-mode">
						Режим работы: 9:00 - 21:00
						<span>без выходных</span>
					</div>	<!-- operating-mode -->
				</div>	<!-- right -->
			</div>	<!-- header -->
			<div class="promo">
				<h1>Достигайте цели <span>в 2 раза</span> быстрее</h1>
				<p>за счет регулярного 5-разового питания по <span class="bju">БЖУ <span class="title">БЖУ – это белки, жиры, углеводы в рамках суточной калорийности</span></span></p>
				<b>от <span>1 087</span> ₽/день</b>
				<button class="show-call-back">Заказать</button>
				<a href="#" class="calc">Калькулятор БЖУ</a>
			</div>	<!-- promo -->
			<div class="tomat"><img src="upload/tomat.png" height="180" width="170" alt=""></div>
		</div>		
		<div class="tomat2"><img src="upload/tomat2.png" height="313" width="213" alt=""></div>
	</div>	<!-- main-header -->
	<div class="why">
		<div class="container">
			<h2><b>Почему правильное</b> <span>питание?</span></h2>
			<div class="items">
				<div class="item">
					<div class="image">
						<img src="img/trophy.svg" width="69" height="85" alt="">
					</div>
					<h4>Легко добиться <br> результата</h4>
					<p>Программы питания помогут вам добиться <span>желаемого результата в 2 раза быстрее,</span> за счет регулярного 5-ти разового питания по БЖУ</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/piggy-bank.svg" width="66" height="85" alt="">
					</div>
					<h4>Легко экономить <br>время и деньги</h4>
					<p>Не нужно ходить в магазин и готовить еду дома, экономия <span>до 5 часов в день и до 13 879 рублей</span> на продуктах и бизнес-ланчах в месяц</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/food-on-plate3.svg" width="96" height="86" alt="">
					</div>
					<h4>Легко соблюдать <br>рацион</h4>
					<p>Все приемы пищи <span>расписаны <br> по часам и БЖУ.</span>  Доставка еды каждый 2 день</p>
				</div>
			</div>
		</div>
	</div>	<!-- why -->
	<div class="select-block">
		<div class="container">
			<h2>Выберите свой формат <span>программы питания</span></h2>
			<div class="items">
				<div class="item">
					<div class="top">
						<h4>Лайт</h4>
						<span>до 2500 ккал/день</span>
						<img src="img/icon1.png" height="118" width="119" alt="">
					</div>	<!-- top -->
					<div class="slider-small">
						<a href="tarif.html?active=1" class="slide"><img src="upload/1.png" height="223" width="223" alt=""></a>
						<a href="tarif.html?active=1" class="slide"><img src="upload/2.png" height="226" width="228" alt=""></a>
					</div>	<!-- slider-small -->
					<div class="food">
						<span>Приемы пищи</span>
						<ul>
							<li class="number click-active active">5</li>
							<li class="number click-active">3</li>
						</ul>
					</div>
					<div class="day">
						<span>Дни</span>
						<ul>
							<li class="number click-active active">14</li>
							<li class="number click-active">7</li>
							<li class="number click-active">5</li>
							<li class="number click-active">1</li>
						</ul>
					</div>
					<div class="price">
						<span>Старая цена <b>5 000 ₽ </b></span>
						7 560 ₽
					</div>
					<button class="modal-programm light">Заказать</button>
					<a href="tarif.html?active=1" class="look-menu">Смотреть меню</a>
				</div>	<!-- item -->
				<div class="item center">
					<div class="top">
						<h4>Спорт</h4>
						<span>до 2500 ккал/день</span>
						<img src="img/icon2.png" height="118" width="119" alt="">
					</div>	<!-- top -->
					<div class="slider-small">
						<a href="tarif.html?active=2" class="slide sport-link"><img src="upload/2.png" height="226" width="228" alt=""></a>
						<a href="tarif.html?active=2" class="slide sport-link"><img src="upload/1.png" height="223" width="223" alt=""></a>
					</div>	<!-- slider-small -->
					<div class="food">
						<span>Приемы пищи</span>
						<ul>
							<li class="number click-active active">5</li>
							<li class="number click-active">3</li>
						</ul>
					</div>
					<div class="day">
						<span>Дни</span>
						<ul>
							<li class="number click-active active">14</li>
							<li class="number click-active">7</li>
							<li class="number click-active">5</li>
							<li class="number click-active">1</li>
						</ul>
					</div>
					<div class="price">
						<span>Старая цена <b>10 000 ₽ </b></span>
						13 320 ₽
					</div>
					<button class="modal-programm sport">Заказать</button>
					<a href="tarif.html?active=2" class="look-menu">Смотреть меню</a>
				</div>	<!-- item -->
				<div class="item">
					<div class="top">
						<h4>Индивидуальный</h4>
						<span>до 2500 ккал/день</span>
						<img src="img/icon3.png" height="118" width="119" alt="">
					</div>	<!-- top -->
					<div class="slider-small">
						<a href="tarif.html?active=3" class="slide"><img src="upload/2.png" height="226" width="228" alt=""></a>
						<a href="tarif.html?active=3" class="slide"><img src="upload/1.png" height="223" width="223" alt=""></a>
					</div>	<!-- slider-small -->
					<div class="food">
						<span>Приемы пищи</span>
						<ul>
							<li class="number click-active active">5</li>
							<li class="number click-active">3</li>
						</ul>
					</div>
					<div class="day">
						<span>Дни</span>
						<ul>
							<li class="number click-active active">14</li>
							<li class="number click-active">7</li>
							<li class="number click-active">5</li>
							<li class="number click-active">1</li>
						</ul>
					</div>
					<div class="price">
						<span>Старая цена <b>15 000 ₽ </b></span>
						27 560 ₽
					</div>
					<button class="modal-programm indiv">Заказать</button>
					<a href="tarif.html?active=3" class="look-menu">Смотреть меню</a>
				</div>	<!-- item -->
			</div>	<!-- items -->
		</div>
	</div>	<!-- select -->
	<div class="result-block">
		<div class="container">
			<h2>Посмотрите, каких <span>результатов</span> <br> добились наши клиенты</h2>
			<div class="slider">
				<div class="slide">
					<div class="image">
						<img src="upload/slide1.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>0 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide active-slide">
					<div class="image">
						<img src="upload/slide2.png" height="402" width="301" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>1 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide3.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>2 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide1.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>3 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide2.png" height="402" width="301" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>4 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide3.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>5 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide1.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>6 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide active-slide">
					<div class="image">
						<img src="upload/slide2.png" height="402" width="301" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>7 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide3.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>8 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide1.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>9 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide2.png" height="402" width="301" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>10 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
				<div class="slide">
					<div class="image">
						<img src="upload/slide3.png" height="335" width="252" alt="">
					</div>
					<span class="name">Маргарита Снеговская</span>
					<a href="#" class="vk"><img src="img/vk2.svg" alt=""></a>
					<a href="#" class="insta"><img src="img/instagram2.svg" alt=""></a>
					<p>11 Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
				</div>
			</div>	<!-- slider -->
			
			<button class="show-call-back">получить такой же результат</button>
		</div>
	</div>	<!-- result-block -->
	<div class="doubt">
		<div class="container">
			<h2>Вы всё ещё сомневаетесь?</h2>
			<h4>Почему надо заказывать у нас:</h4>
			<div class="items">
				<div class="item">
					<div class="image">
						<img src="img/delivery-truck.svg" width="100" height="49" alt="">
					</div>
					<p>Соблюдаем заявленные сроки доставки. Всегда! Привезем <br><span>1 рацион</span> уже <span>через 1 день</span> после заявки.</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/reload.svg" width="54" height="60" alt="">
					</div>
					<p>Не беспокойтесь о качестве,  <br>если вас <span>что-то не устроит,</span> мы <span>бесплатно заменим</span> товар или <span>вернем вам деньги.</span></p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/eco-house.svg" width="46" height="68" alt="">
					</div>
					<p>Все наши блюда <span>не содержат ГМО,</span> искусственные красители, порошковые <span>добавки и консерванты.</span></p>
				</div>
			</div>
		</div>
	</div>	<!-- doubt -->
	<div class="try-block">
		<div class="left"></div>
		<div class="right">
			<h3>Сомнения в покупке <br>недельного рациона?</h3>
			<h4>Закажите "пробный день" <br>всего за 1577 рублей</h4>
			<p>Твой рацион из 5 приемов пищи на 1 день. <br>Доставка по Москве бесплатно.</p>
			<form action="thank_you.html">
				<label for="phone11">Введите телефон</label>
				<input required id="phone11" name="phone" placeholder="+7">
				<button>хочу попробовать</button>
			</form>
			<p class="second">Нажимая на кнопку, вы даете согласие на обработку <br> своих персональных данных</p>
		</div>
	</div>	<!-- try-block -->
	<div class="have-questions">
		<div class="container">
			<div class="form-block">
				<h3>Остались вопросы?</h3>
				<div class="wrap">
					<p class="left">Оставьте заявку, и в течение 27 секунд <br>наш менеджер с Вами свяжется.</p>
					<p class="right"><span>получите подарок —</span> <br>бесплатная консультация диетолога</p>
				</div>
				<form action="thank_you.html">
					<div class="form-wrap">
						<div class="row">
							<label for="phone22">Введите телефон</label>
							<input required type="text" id="phone22" name="phone" placeholder="+7">
						</div>
						<div class="row">
							<label for="email22">Введите  e-mail</label>
							<input type="email" required id="email22">
						</div>
						<button>Получить консультацию</button>
					</div>
				</form>
				<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
			</div>
		</div>
	</div>	<!-- have-questions -->
</section>