<script src="vender/jquery/jquery-1.12.0.js"></script>
<script src="vender/selectric/jquery.selectric.min.js"></script>
<script src="vender/jquery.mask.js"></script>
<script src="vender/tabslet/jquery.tabslet.min.js"></script>
<script src="vender/slick/slick.min.js"></script>
<script src="vender/inputMaskedGroup/inputMaskedGroup.js"></script>
<script src="js/core.js"></script>


