<section class="tarif">
	<div class="container">
		<div class="section-header">
			<div class="left">
				<a href="#" class="logo">
					<img src="img/logo.png" height="207" width="649" alt="">
				</a>
				<p>Правильное питание <br>с доставкой</p>
			</div>	<!-- left -->
			<div class="right">
				<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
				<div class="operating-mode">
					Режим работы: 9:00 - 21:00
					<span>без выходных</span>
				</div>	<!-- operating-mode -->
			</div>	<!-- right -->
		</div>	<!-- header -->
		<div class="content">
			<div class="tabs-block">
				<ul class='horizontal'>
					<li><a href="#tab-1">Лайт</a></li>
					<li><a href="#tab-2" >Спорт</a></li>
					<li><a href="#tab-3">Индивидуальный</a></li>			
				</ul>
				<div class="tab" id='tab-1'>
					<div class="top">
						<h2>Лайт <span>до 1500 ккал/день</span></h2>
						<!-- <a href="developing.html" class="programm">Программа занятий</a> -->
					</div>	<!-- top -->
					<div class="form-block">
						<form action="thank_you.html">
							<div class="top-form">
								<div class="select-row">
									<input type="radio" class="food1" checked name="food" id="food1">
									<label for="food1">3 приема</label>
									<input type="radio" class="food2" name="food" id="food23">
									<label for="food23">5 приемов</label>
									<span class="result-span">3 приема на выбор</span>
								</div>	<!-- select-row -->
								<div class="sendTo">
									<div class="input-row">
										<input required type="text" name="phone" placeholder="Введите телефон">
									</div>
									<button>заказать</button>
									<div class="text">Пример одного дня рациона</div>
									<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
								</div>	<!-- sendTo -->
							</div>	<!-- top -->
							<div class="items select-items">
								<div class="item ">
									<div class="number">1</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">2</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">3</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item ">
									<div class="number">4</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">5</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->								
							</div>	<!-- items -->
						</form>
					</div>	<!-- form-block -->
				</div>	<!-- end tab -->
				<div class="tab" id='tab-2'>
					<div class="top">
						<h2>Спорт <span>до 3500 ккал/день</span></h2>
						<!-- <a href="developing.html" class="programm">Программа занятий</a> -->
					</div>	<!-- top -->
					<div class="form-block">
						<form action="thank_you.html">
							<div class="top-form">
								<div class="select-row">
									<input type="radio" class="food1" checked name="food" id="food12">
									<label for="food12">3 приема</label>
									<input type="radio" class="food2" name="food" id="food22">
									<label for="food22">5 приемов</label>
									<span class="result-span">3 приема на выбор</span>
								</div>	<!-- select-row -->
								<div class="sendTo">
									<div class="input-row">
										<input required type="text" name="phone" placeholder="Введите телефон">
									</div>
									<button>заказать</button>
									<div class="text">Пример одного дня рациона</div>
									<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
								</div>	<!-- sendTo -->
							</div>	<!-- top -->
							<div class="items select-items">
								<div class="item ">
									<div class="number">1</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">2</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">3</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item ">
									<div class="number">4</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">5</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->								
							</div>	<!-- items -->
						</form>
					</div>	<!-- form-block -->
				</div>	<!-- end tab -->
				<div class="tab" id='tab-3'>
					<div class="top">
						<h2>Индивидуальный <span>до 6600 ккал/день</span></h2>
						<!-- <a href="developing.html" class="programm">Программа занятий</a> -->
					</div>	<!-- top -->
					<div class="form-block">
						<form action="thank_you.html">
							<div class="top-form">
								<div class="select-row">
									<input type="radio" class="food1" checked name="food" id="food11">
									<label for="food11">3 приема</label>
									<input type="radio" class="food2" name="food" id="food2">
									<label for="food2">5 приемов</label>
									<span class="result-span">3 приема на выбор</span>
								</div>	<!-- select-row -->
								<div class="sendTo">
									<div class="input-row">
										<input required type="text" name="phone" placeholder="Введите телефон">
									</div>
									<button>заказать</button>						
									<div class="text">Пример одного дня рациона</div>
									<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
								</div>	<!-- sendTo -->
							</div>	<!-- top -->
							<div class="items select-items">
								<div class="item ">
									<div class="number">1</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">2</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">3</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item ">
									<div class="number">4</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item">
									<div class="number">5</div>
									<div class="image">
										<img src="upload/plate.png" height="190" width="189" alt="">
									</div>
									<h5>Овсянный блин с творожным кремом /банан</h5>
									<div class="weignt">180 г<span>|</span>40 г</div>
									<ul>
										<li>
											<span class="what">Белки</span>
											<span class="dashed"></span>
											<span class="weight">11г</span>
										</li>
										<li>
											<span class="what">Жиры</span>
											<span class="dashed"></span>
											<span class="weight">7г</span>
										</li>
										<li>
											<span class="what">Углеводы</span>
											<span class="dashed"></span>
											<span class="weight">47г</span>
										</li>
									</ul>
									<div class="calories">290 ккал</div>
									<button class="btn-select" type="button">Выбрать</button>
								</div>	<!-- item -->
								<div class="item icon">
									<div class="icon">!</div>
									<p>Это пример рациона, данная программа подбирается индивидуально с диетологом.</p>
								</div>								
							</div>	<!-- items -->
						</form>
					</div>	<!-- form-block -->
				</div>	<!-- end tab -->
			</div>	<!-- tabs-block -->
		</div>	<!-- content -->
	</div>
</section>
<script src="vender/jquery/jquery-1.12.0.js"></script>
<script>
	$(document).ready(function(){
		$(".tabs-block").tabslet();
		function get(name){
	   		if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
	      	return decodeURIComponent(name[1]);
		}
		var active = get('active');			
		if(active){			
			$(".tabs-block .horizontal li").removeClass('active');
			$(".tabs-block .horizontal li:nth-child("+active+")").addClass('active');
			$('.tab').hide();
        	$('#tab-'+active+'').show();	
		}
	});
</script>