<section class="thank_you">
	<div class="container">
		<div class="section-header">
			<div class="left">
				<a href="#" class="logo">
					<img src="img/logo.png" height="207" width="649" alt="">
				</a>
				<p>Правильное питание <br>с доставкой</p>
			</div>	<!-- left -->
			<div class="right">
				<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
				<div class="operating-mode">
					Режим работы: 9:00 - 21:00
					<span>без выходных</span>
				</div>	<!-- operating-mode -->
			</div>	<!-- right -->
		</div>	<!-- header -->
		<div class="content">
			<h2>Спасибо, за проявленный интерес,<br>
			 менеджер свяжется с вами в течении 27 секунд!</h2>
			<h3>Как мы работаем</h3>
			<div class="items">
				<div class="item">
					<div class="image">
						<div class="number">1</div>
						<img src="img/choices.svg" width="56" height="69" alt="">
					</div>
					<p><span>Вы выбираете тарифы</span> под ваши задачи</p>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<div class="number">2</div>
						<img src="img/cooking.svg" width="64" height="68" alt="">
					</div>
					<p>Мы <span>готовим еду</span> для вас и раскладываем по порциям</p>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<div class="number">3</div>
						<img src="img/delivery-truck.svg" width="100" height="49" alt="">						
					</div>
					<p><span>Бесплатно доставляем</span> в любую точку города каждые 2 дня</p>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<div class="number">4</div>
						<img src="img/food-on-plate.svg" width="96" height="53" alt="">
					</div>
					<p>Вы <span>правильно питаетесь</span> каждый день <span>по БЖУ</span></p>
				</div>	<!-- item -->
			</div>	<!-- items -->
		</div>
	</div>
</section>