<section class="trainers">
	<div class="trainers-header">
		<div class="container">
			<div class="section-header">
				<div class="left">
					<a href="#" class="logo">
						<img src="img/logo.png" height="207" width="649" alt="">
					</a>
					<p>Правильное питание <br>с доставкой</p>
				</div>	<!-- left -->
				<div class="right">
					<a href="tel:+74996382246" class="phone">+7 (499) 638-22-46</a>
					<div class="operating-mode">
						Режим работы: 9:00 - 21:00
						<span>без выходных</span>
					</div>	<!-- operating-mode -->
				</div>	<!-- right -->
			</div>	<!-- header -->
			<div class="form-block">
				<h3>Ты крутой тренер?</h3>
				<p class="title">Ты хочешь получать дополнительный <br>доход до <span>30 000</span> ₽ /месяц?</p>
				<b>Заполни форму и мы тебе перезвоним</b>
				<form action="thank_you.html">
					<div class="row">
						<label for="name">Введите имя</label>
						<input required name="name" type="text" id="name">
					</div>
					<div class="row">
						<label for="phone">Введите телефон</label>
						<input required type="text" name="phone" id="phone" placeholder="+7">
					</div>
					<div class="row">
						<button>жду звонка</button>
					</div>
				</form>
				<p class="descr">Нажимая на кнопку, вы даете согласие <br>на обработку своих персональных данных</p>
			</div>	<!-- form-block -->
		</div>
	</div>	<!-- trainers-header -->
	<div class="we-offer-you">
		<div class="container">
			<h3>Мы предлагаем тебе</h3>
			<div class="items">
				<div class="item">
					<div class="image">
						<img src="img/wallet.svg" width="75" height="87" alt="">
					</div>
					<p><span>Зарабатывать до 7 910 ₽</span> <br>за твоего клиента</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/cup-with-a-spoon-inside.svg" width="90" height="80" alt="">
					</div>
					<p><span>От 30 - 60% скидку</span> <br>на твой рацион</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/group.svg" width="85" height="84" alt="">
					</div>
					<p><span>Скидку от 10 - 15% <br>твоим клиентам</span></p>
				</div>
			</div>
		</div>
	</div>	<!-- we-offer-you -->
	<div class="how-to-start">
		<div class="container">
			<h3>Как начать зарабатывать с нами?</h3>
			<div class="items">
				<div class="item">
					<div class="image">
						<img src="img/login.svg" width="62" height="62" alt="">
					</div>
					<p><span>Оставь заявку</span> и зарегистрируйся <br> <span>в программе</span> партнеров</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/food-on-plate1.svg" width="77" height="67" alt="">
					</div>
					<p>Закажи <span>бесплатный рацион</span> <br>и сам оцени наши преимущества</p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/megaphone.svg" width="71" height="53" alt="">
					</div>
					<p><span>Регулярно делись</span> своим <br> мнением о нас в соц сетях, <br> отмечай нас в публикациях <br> хештегом <span>#mefood</span></p>
				</div>
				<div class="item">
					<div class="image">
						<img src="img/euro.svg" width="69" height="60" alt="">
					</div>
					<p><span>Приводи как можно больше</span> <br> клиентов, ведь твоё <br> вознагрождение от этого только <br> увеличится</p>
				</div>
			</div>	<!-- items -->
			<button class="show-call-back">стать партнером</button>
		</div>
	</div>	<!-- how-to-start -->
	<div class="faq">
		<div class="container">
			<h3>Частые вопросы</h3>
			<ul class="question-list">
				<li>
					<h4>Как я буду зарабатывать?</h4>
					<a href="javascript:void(0);" class="open-close"><img src="img/open.png" alt=""></a>
					<div class="dropdown">
						<b>Чем больше клиентов от тебя придет, тем больше твое вознаграждение.</b>
						<span>Пример расчета вознаграждения:</span>
						<ul>
							<li>Твой клиент купил рацион на 1 день — 110 рублей</li>
							<li>Твой клиент купил рацион на 7 дней — 800 рублей</li>
							<li>Твой клиент купил рацион на 2 недели — <b>1500 рублей</b></li>
							<li>Твой клиент купил рацион или продлил подписку до 4 недель — 2500 рублей</li>
							<li>Твой клиент купил рацион или продлил подписку до 8 недель — 3000 рублей</li>
						</ul>
						<p>Таким образом ты можешь получить вознаграждение <b>до 7910 рублей</b> с одного своего клиента!</p>
					</div>
				</li>
				<li>
					<h4>Как вы узнаете что клиент от меня?</h4>
					<a href="javascript:void(0);" class="open-close"><img src="img/open.png" alt=""></a>
					<div class="dropdown">
						<b>Чем больше клиентов от тебя придет, тем больше твое вознаграждение.</b>
						<span>Пример расчета вознаграждения:</span>
						<ul>
							<li>Твой клиент купил рацион на 1 день — 110 рублей</li>
							<li>Твой клиент купил рацион на 7 дней — 800 рублей</li>
							<li>Твой клиент купил рацион на 2 недели — <b>1500 рублей</b></li>
							<li>Твой клиент купил рацион или продлил подписку до 4 недель — 2500 рублей</li>
							<li>Твой клиент купил рацион или продлил подписку до 8 недель — 3000 рублей</li>
						</ul>
						<p>Таким образом ты можешь получить вознаграждение <b>до 7910 рублей</b> с одного своего клиента!</p>
					</div>
				</li>
				<li>
					<h4>Как я буду получать деньги?</h4>
					<a href="javascript:void(0);" class="open-close"><img src="img/open.png" alt=""></a>
					<div class="dropdown">
						<b>Чем больше клиентов от тебя придет, тем больше твое вознаграждение.</b>
						<span>Пример расчета вознаграждения:</span>
						<ul>
							<li>Твой клиент купил рацион на 1 день — 110 рублей</li>
							<li>Твой клиент купил рацион на 7 дней — 800 рублей</li>
							<li>Твой клиент купил рацион на 2 недели — <b>1500 рублей</b></li>
							<li>Твой клиент купил рацион или продлил подписку до 4 недель — 2500 рублей</li>
							<li>Твой клиент купил рацион или продлил подписку до 8 недель — 3000 рублей</li>
						</ul>
						<p>Таким образом ты можешь получить вознаграждение <b>до 7910 рублей</b> с одного своего клиента!</p>
					</div>
				</li>
				<li>
					<h4>Могу ли я попробовать?</h4>
					<a href="javascript:void(0);" class="open-close"><img src="img/open.png" alt=""></a>
					<div class="dropdown">
						<b>Чем больше клиентов от тебя придет, тем больше твое вознаграждение.</b>
						<span>Пример расчета вознаграждения:</span>
						<ul>
							<li>Твой клиент купил рацион на 1 день — 110 рублей</li>
							<li>Твой клиент купил рацион на 7 дней — 800 рублей</li>
							<li>Твой клиент купил рацион на 2 недели — <b>1500 рублей</b></li>
							<li>Твой клиент купил рацион или продлил подписку до 4 недель — 2500 рублей</li>
							<li>Твой клиент купил рацион или продлил подписку до 8 недель — 3000 рублей</li>
						</ul>
						<p>Таким образом ты можешь получить вознаграждение <b>до 7910 рублей</b> с одного своего клиента!</p>
					</div>
				</li>
			</ul>
			<button class="show-call-back">стать партнером</button>
		</div>
	</div>	<!-- faq -->
</section>