=clearfix
    &::after 
        content: ""
        display: block
        width: 100%
        clear: both
=transform
    -moz-transform: translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    -o-transform: translateX(-50%) translateY(-50%)
    -ms-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
=transformX
    -moz-transform: translateX(-50%)
    -webkit-transform: translateX(-50%)
    -o-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    transform: translateX(-50%)
=transformY
    -moz-transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
=box
    box-sizing: border-box